:{$PORT}
@websockets-tt {
        header Connection *Upgrade*
        header Upgrade websocket
        path {$SecretPATH}/tt*
}
handle @websockets-tt {
        reverse_proxy * localhost:7681
}
@websockets-vl {
        header Connection *Upgrade*
        header Upgrade websocket
        path {$SecretPATH}/vl*
}
handle @websockets-vl {
        reverse_proxy * localhost:61079
}
@websockets-vm {
        header Connection *Upgrade*
        header Upgrade websocket
        path {$SecretPATH}/vm*
}
handle @websockets-vm {
        reverse_proxy * localhost:61080
}
@websockets-ss {
        header Connection *Upgrade*
        header Upgrade websocket
        path {$SecretPATH}/ss*
}
handle @websockets-ss {
        reverse_proxy * localhost:61081
}
@websockets-tr {
        header Connection *Upgrade*
        header Upgrade websocket
        path {$SecretPATH}/tr*
}
handle @websockets-tr {
        reverse_proxy * localhost:61082
}
